.gallery-flexslider {
	position: absolute;
	width: 100%;
	max-height: 75%;
	right: -120%;

	cursor: pointer;

	&:hover {
		right: -110%;
	}

	&.is-active {
		right: 0;
	}
}

.slide_web {
	background-size: cover;
	min-width: 100%;
	min-height: 265px;
}

.flexslider.gallery-flexslider.hop {
	position: static;
}

.content.course-photos {
	min-height: 0;

	&.is-opened {
		min-height: none;
	}
}