.test {
  $this: &;

  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  &__header {
    margin-left: 5px;

    h4 {
      font-size: 35px;
      line-height: 1.2;
      margin-bottom: 30px;
      font-weight: 900;

      @media screen and(max-width: 768px) {
        font-size: 20px;
        max-width: 75%;
      }
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 35px;
    line-height: 1.1;

    @media screen and(max-width: 768px) {
      font-size: 20px;
      max-width: 75%;
    }
  }

  &__body {

  }

  &__text {
    margin-bottom: 20px;
    max-width: 75%;
  }

  &__extratext {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 80px;
  }

  &__actions {
    display: flex;
  }

  &__btn {
    width: auto;
    padding: 10px 20px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

}