section.section-contacts#contacts
  .container
    .content
      .content-header
        h2 Contacts
      .content-left
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.05106857132!2d30.32308231580619!3d59.981062981891654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469633fb4c2b315d%3A0x290f70d6a9a0752f!2z0JrQsNC90YLQtdC80LjRgNC-0LLRgdC60LDRjyDRg9C7LiwgMtCQLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk3MzQy!5e0!3m2!1sru!2sru!4v1496574171099") width="320" height="320" frameborder="0" style="border:0" allowfullscreen
      .content-right
        .contacts-info Pick the chanel you'll be comfort to use:
        .contacts-info our managers will anser any question by phone
        a.contacts-link(href="tel:+79650184751") 8 (965) 018-47-51
        .contacts-info or will send you all information by e-mail
        a.contacts-link(href="mailto:mail@digital-banana.ru") mail@digital-banana.ru
        .contacts-info Saint PEtersburg addesses:
        .contacts-info
          | Kantemirovskaya st. 4,
          br
          | Business center "Rodelen"
        .contacts-info
          | Kazanskaya st. 7,
          br
          | Business center "Kazanskiy"
  footer.footer
    .year 2018
    a.footer-logo(href="http://denkstudio.com/projects") design by
      img(src="../assets/img/logo-denkst.png")