section.section-courses#courses
  .container
    .content.mb-30
      .content-header
        h2 Courses
      .content-left
        ul.filter-list
          li.is-active.ga_filter_it
            .filter-list-pic.code
            .filter-list-info
              .filter-list-info-title IT Development
              .filter-list-info-age age 14-16
          li.ga_filter_games
            .filter-list-pic.games
            .filter-list-info
              .filter-list-info-title Game Development
              .filter-list-info-age age 14-16
          li.ga_filter_kids
            .filter-list-pic.kids
            .filter-list-info
              .filter-list-info-title Extracurriculars
              .filter-list-info-age age 10-13
          li.ga_filter_summer
            .filter-list-pic.random
            .filter-list-info.-single-title
              .filter-list-info-title Summer
        
      .content-right
        ul.course-list.course-list1.is-active
          li
            a.course(target="_blank" href="/en/programm/ml.pdf").ga_ml
              .course-animation
              .course-info
                .course-info-title Machine Learning
                .course-info-desc Data science, artificial intelligence, mathematics
                .course-info-time
                  .course-info-time-content
                    span Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-data-4.jpg")
          li
            a.course(target="_blank" href="/en/programm/frontend.pdf").ga_frontend
              .course-animation
              .course-info
                .course-info-title Frontend Dev
                .course-info-desc Creating websites from the basics to working with popular frameworks
                .course-info-time
                  .course-info-time-content
                    span Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-front-1.jpg")
          li
            a.course(target="_blank" href="/en/programm/mobile.pdf").ga_mobile
              .course-animation
              .course-info
                .course-info-title Mobile Development
                .course-info-desc Mobile applications development, from prototype to Google Play
                .course-info-time
                  .course-info-time-content
                    span  Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-mobile-1.jpg")
          li
            a.course(target="_blank" href="/en/programm/backend.pdf").ga_backend
              .course-animation
              .course-info
                .course-info-title Back-end
                .course-info-desc Server part of web-applications development
                .course-info-time
                  .course-info-time-content
                    span  Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-back.jpg")
          li.-cursor-default
            a.course.ga_design
              .course-animation
              .course-info
                .course-info-title Design
                .course-info-desc The basics of design and concept art
                .course-info-time
                  .course-info-time-content
                    span  Start September 2018

                .course-info-btn Info soon
              .course-pic-container
                img(src="/assets/img/default-avatar.png")

                  
        ul.course-list.course-list2
          li
            a.course(target="_blank" href="/en/programm/gamedev_old.pdf").ga_gamedev_old
              .course-animation
              .course-info
                .course-info-title Game Development
                .course-info-desc Creating a game in C# programming language
                .course-info-time
                  .course-info-time-content
                  span Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-gamecode-1.jpg")

          li
            a.course(target="_blank" href="/en/programm/concept_art.pdf").ga_concept_art
              .course-animation
              .course-info
                .course-info-title Concept Art
                .course-info-desc Digital painting, the creation of game concepts
                .course-info-time
                  .course-info-time-content
                    span  Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-art.jpg")
          li
            a.course(target="_blank" href="/en/programm/level_design.pdf").ga_level_design
              .course-animation
              .course-info
                .course-info-title Level design
                .course-info-desc Creating game levels and 3D modeling
                .course-info-time
                  .course-info-time-content
                    span  Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-level.jpg")
          
          
        ul.course-list.course-list3

          li.-cursor-default
            a.course.ga_gamedev_small
              .course-animation
              .course-info
                .course-info-title Game development
                .course-info-desc Game development in Construct 2, Unity 3D and Blender
                .course-info-time
                  .course-info-time-content
                    span Start September 2018
                  
                .course-info-btn Info soon
              .course-pic-container
                img(src="/assets/img/teachers/teacher-game-basics-1.jpg")
          li
            a.course(target="_blank" href="/en/programm/oop.pdf").ga_oop
              .course-animation
              .course-info.-high-block
                .course-info-title OOP basics
                .course-info-desc Basics of programming, principles of OOP and algorithms in C# programming
                .course-info-time
                  .course-info-time-content
                    span Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-oop.jpg")

          li.-cursor-default
            a.course.ga_eng
              .course-animation
              .course-info
                .course-info-title English for IT
                .course-info-desc From the first technical words to the defence of your project
                .course-info-time
                  .course-info-time-content
                    span Start September 2018

                .course-info-btn Info soon
              .course-pic-container
                img(src="/assets/img/teachers/teacher-english.jpg")


          li
            a.course(target="_blank" href="/en/programm/olymp_prog.pdf").ga_olymp_prog
              .course-animation
              .course-info
                .course-info-title Olympiad programming
                .course-info-desc Olympiad programming in C ++ programming language
                .course-info-time
                  .course-info-time-content
                    span Start September 2018

                .course-info-btn Programm
              .course-pic-container
                img(src="/assets/img/teachers/teacher-olymp-2.jpg")

          //li
          //  a.course(target="_blank" href="/en/programm/olymp_math.pdf").ga_olymp_math
          //    .course-animation
          //    .course-info
          //      .course-info-title Olympiad math
          //      .course-info-desc Preparing for olympiad math tasks
          //      .course-info-time
          //        .course-info-time-content
          //          span Start September 2018
          //
          //      .course-info-btn Programm
          //    .course-pic-container
          //      img(src="/assets/img/default-avatar.png")

        ul.course-list.course-list4
          li
            a.course(target="_blank" href="https://www.youtube.com/watch?v=t9vdtV3CeTo").ga_leto
              .course-animation
              .course-info
                .course-info-title Summer IT camp
                .course-info-desc IT jobs and market overview programm
                .course-info-time
                  .course-info-time-content
                    | Start
                    span  June 2019
                  .course-info-time-content
                    span  3 weeks

                .course-info-btn Video
              .course-pic-container
                img(src="/assets/img/preview-leto-main.jpg")