header.header
  .container
    .header-links
      a.ga_courses(href="#courses") Courses
      a.ga_about(href="#about") About
      a.ga_partners(href="#partners") Partners
      a.ga_contacts(href="#contacts") Contacts
      a.ga_photos(href="https://vk.com/digital_banana?w=wall-54916180_1659&z=album-54916180_254454647" target="_blank") Photo
    .header-contacts
      a.header-lang(href='/')
        img(src="../assets/img/flag-ru.png")
      a.header-lang.-active
        img(src="../assets/img/flag-en.png")
      a.ga_phone_header(href="tel:+79650184751") +7 (965) 018-47-51
    .header-nav
      .header-nav_toggler
        i
        i
        i
      ul.header-nav_menu
        li
          a.ga_courses(href="#courses") Courses
        li
          a.ga_about(href="#about") About
        li
          a.ga_partners(href="#partners") Partners
        li
          a.ga_contacts(href="#contacts") Contacts
        li
          a.ga_photos(href="https://vk.com/album-54916180_213845628" target="_blank") Photo
