extends ../templates/article-layout.jade

block title
  title test article

block article-title
  h1 This is Banana!
  .bread-crumbs
    a.bread-crumbs-link(href="/blog") Blog
    |  / Test Article

block article-content
  .content-left
  .content-right
    .about-title This is gonna be something 
    .about-text you're not gonna believe what we're up to! you're not gonna believe what we're up to! you're not gonna believe what we're up to! you're not gonna believe what we're up to!