extends ./templates/course-layout.jade

block title
  title Мобильная разработка в школе Digital Banana 14-16 лет

block meta-content
  meta(property="og:title" content="Курс Мобильной разработки Digital Banana для школьников 14-16 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/android")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Мобильная разработка" placeholder="Курс")
  .course-name_placeholder Мобильная разработка

block form-age
  ul.age-picker
    li 13*
    li 14
    li 15
    li 16

block teacher
  .teacher-photo
    img(src="assets/img/teacher-android.jpg")
  .about-title Алексей Лещук
  .about-desc Работал в Лаборатории Касперского, в НИИ СОКБ. В данный момент работает над новостным приложением для компании EXANTE.

block course
  h1 Мобильная разработка
  h2 JAVA / Android / SDK
  
  .about-desc Разработчики мобильных приложений под Android очень востребованы на рынке и решают множество интересных и сложных задач с помощью языков программирования Java и Kotlin. Многие из них запускают собственные мобильные проекты, которые могут масштабироваться по всему миру.
  .about-desc На курсе Digital Banana ребята познакомятся с основами объектно-ориентированного программирования и пройдут путь от написания первой программы в командной строке до создания выпускного мобильного приложения. В процессе ученики тщательно изучат возможности телефона (работу с камерой, звуком и различными датчиками), научатся пользоваться библиотеками Java и Kotlin. Узнают о многопоточности и прочих тонкостях разработки, сделают из своего телефона джойстик для управления внешним устройством, а также опубликуют свои выпускные приложения в Google Play. На выходе они будут готовы к выполнению задач уровня Junior-специалистов в IT-компаниях.

  a.ui-btn.-primary.-programm(href="/programs/android.jpg" target="_blank") Посмотреть программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 6 500 рублей

block details
  .about-desc Умение пользоваться компьютером, базовое знание основ программирования на любом языке будет преимуществом
  .about-title 
    | Возраст:&nbsp;
    span 14-16 лет
  .about-title 
    | Старт курса:&nbsp;
    span сентябрь 2018
  .about-title 
    | Длительность:&nbsp;
    span 14 месяцев (2 года)
  .about-title 
    | Расписание:      
    span.date пн
    span.date чт
    span 17:00 - 18:45 / 19:00 - 20:45