extends ./templates/course-layout.jade

block title
    title Back-end

block meta-content
    meta(property="og:title" content="Back-end")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/2dgames")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="back" placeholder="Курс")
    .course-name_placeholder Back-end

block form-age
    ul.age-picker
        li 13*
        li 14
        li 15

block teacher
    .teacher-photo
        img(src="assets/img/teacher-node.jpg")
    .about-title Константин Носов
    .about-desc Web-разработчик в компании Яндекс

block course
    h1 Back-end
    h2 Node.js / Web-приложения / Базы данных

    .about-desc Backend-разработчики — это специалисты, которые занимаются поддержанием архитектуры большинства вещей с которыми вы сталкиваетесь каждый день. Мобильные приложения, сайты и умные дома — всех их объединяют сервера, которые обеспечивают их работу.
    .about-desc За два года ребята пройдут путь от простых программ до функциональных серверов, которые смогут обрабатывать данные и вдыхать жизнь в сервисы для различных устройств. Вместе мы разберёмся как сделать архитектуру безопасной, надёжной и эффективной. Вместе напишем первых чат-ботов, и постепенно разберёмся как создать сервер обеспечивающий непрерывную работу.
    a.ui-btn.-primary.-programm(href="/programs/back_program.png" target="_blank") Посмотреть программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 500 рублей

block details
    .about-desc Базовые знания математики
    .about-title
        | Возраст:&nbsp;
        span 14-16 лет
    .about-title
        | Старт курса:&nbsp;
        span сентябрь 2018
    .about-title
        | Длительность:&nbsp;
        span 2 года