extends ./templates/course-layout.jade

block title
    title Блокчейн в школе Digital Banana 14-16 лет

block meta-content
    meta(property="og:title" content="Курс Блокчейн Digital Banana для школьников 14-16 лет")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/blockchain")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="Блокчейн" placeholder="Курс")
    .course-name_placeholder Блокчейн

block form-age
    ul.age-picker
        li 13
        li 14
        li 15
        li 16

block teacher
    .teacher-photo
        img(src="assets/img/teacher-blockchain.jpg")
    .about-title Алексей Зернов
    .about-desc
        | Blockchain разработчик. Выпускник СПБГУ

block course
    h1 Основы блокчейн технологий
    h2 Криптография / Математика

    .about-desc Курс поможет вам узнать, как устроены современные криптовалюты, в чем особенность и новизна блокчейна, как обезопасить свои данные от взлома и кражи, поможет освоить самые стойкие шифры. Более того, вы сможете попробовать свои силы в создании собственной криптовалюты или побывать на месте взломщика различных криптостойких шифров.

    //a.ui-btn.-primary.-programm(href="/programs/concept-art.jpg" target="_blank") Скачать программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 500 рублей

block details
    .about-desc Сильная математика, базовые знания по программированию. Конкурсный отбор
    .about-title
        | Возраст:
        span  14-16 лет
    .about-title
        | Старт курса:
        span  по набору группы
    .about-title
        | Длительность:
        span  3 месяца
    .about-title
        | Расписание:
        span.date ср
        span.date сб
        span 19:00 - 20:45 / 19:00 - 20:45