extends ./templates/course-layout.jade

block title
  title Машинное обучение в школе Digital Banana 14-16 лет

block meta-content
  meta(property="og:title" content="Курс Машинное обучение Digital Banana для школьников 14-16 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/data-science")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Машинное обучение" placeholder="Курс")
  .course-name_placeholder Машинное обучение

block form-age
  ul.age-picker
    li 13*
    li 14
    li 15
    li 16

block teacher
  .teacher-photo
    img(src="assets/img/teachers/teacher-data-3.jpg")
  .about-title Нонна Шахова
  .about-desc Data Scientist в компании Veeam Software.

block course
  h1 Машинное обучение
  h2 Математика / Чат-боты / Нейронные сети
  
  .about-desc На курсе ребята познакомятся с основными концепциями, необходимыми для создания своей собственной обучаемой нейронной сети, будут изучать язык программирования Python, поработают с библиотеками обработки изображений и видео, запустят чат-ботов, умеющих общаться с человеком и сделают свой большой выпускной проект. На выходе они смогут заниматься своими собственными проектами и будут конкурентоспособными на IT-рынке.

  a.ui-btn.-primary.-programm(href="/programs/data-science.jpg" target="_blank") Посмотреть программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 7 200 рублей

block details
  .about-desc Сильная математика, базовые знания по программированию. Конкурсный отбор
  .about-title 
    | Возраст:&nbsp;
    span 14-16 лет
  .about-title 
    | Старт курса:&nbsp;
    span октябрь 2019
  .about-title 
    | Длительность:&nbsp;
    span 14 месяцев (2 года)
  .about-title 
    | Расписание 1 группы:
    span.date чт
    span 19:00 - 20:45
    span.date вс
    span 14:00 - 15:45

  .about-title
    | Расписание 2 группы:
    span.date пт
    span 19:00 - 20:45
    span.date вс
    span 10:00 - 11:45