extends ./templates/course-layout.jade

block title
    title Основы создания компьютерных игр

block meta-content
    meta(property="og:title" content="Основы создания компьютерных игр")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/2dgames")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="GameDevelopment" placeholder="Курс")
    .course-name_placeholder Основы создания компьютерных игр

block form-age
    ul.age-picker
        li 11
        li 12
        li 13

block teacher
    .teacher-slider
        .teacher-slide
            .teacher-photo
                img(src="assets/img/teachers/teacher-game-basics-1.jpg")
            .about-title Денис Петров
            .about-desc Indie-разработчик игр, больше 7 лет занимается созданием игр под различные платформы
        .teacher-slide
            .teacher-photo
                img(src="assets/img/teachers/teacher-game-basics-2.jpg")
            .about-title Александр Рыбальченко
            .about-desc Indie-разработчик игр


block course
    h1 Основы создания компьютерных игр
    h2 Сonstruct 2 / Unity 3D / Blender

    .about-desc Для юных любителей игр мы подготовили специальный вводный курс, где ребята узнают из чего состоит игровая разработка. Освоят Construct 2 - популярную платформу для создание 2D-игр и создадут там несколько своих проектов, также освоят Blender - инструмент для создания 3D-моделей и Unity 3D, где создадут свою 3D-игру к концу года.
    .about-desc Все приобретенные навыки позволят ученикам создавать свои проекты, удивлять в школе своих одноклассников и даже учителя информатики! А что самое важное, даст хорошую базу для будущего развития в игровой индустрии или других IT-направлениях.

    //- a.ui-btn.-primary.-programm(href="/programs/2d-games.pdf" target="_blank") Посмотреть программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 000 рублей

block details
    .about-desc Умение пользоваться компьютером
    .about-title
        | Возраст:
        span 11-13 лет
    .about-title
        | Старт курса:
        span февраль 2019
    .about-title
        | Длительность:
        span 1 год
    .about-title
        | Расписание:
        span.date вс
        span 12:00 - 15:00 / 15:00 - 18:00