extends ./templates/course-layout.jade

block title
  title Игровая разработка в школе Digital Banana 14-16 лет

block meta-content
  meta(property="og:title" content="Курс игровой разработки Digital Banana для школьников 14-16 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/gamecoding")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Игровая разработка" placeholder="Курс")
  .course-name_placeholder Игровая разработка

block form-age
  ul.age-picker
    li 13*
    li 14
    li 15
    li 16

block teacher
  .teacher-photo
    img(src="assets/img/teacher-unity-1.jpg")
  .about-title Александр Хорошавин
  .about-desc 
    | Indie-разработчик. Создатель игр 
    a(href="http://alexgoodwindev.github.io/Algotica/" target="_blank") Algotica 
    |  и Somber Lore. Победитель White Nights в номинациях "Лучший гейм-дизайн" и "Выбор Amazon", а также Games Jam Kanobu 2016.

block course
  h1 Игровая разработка
  h2 Unity 3D / C#
  
  .about-desc Unity C# разработчик - это программист, который зачастую имеет самую интересную роль в команде, именно он, используя код, оживляет виртуальные миры. Разработчик Unity очень широкое определение, зачастую программисты в игровой индустрии делятся на геймплей программистов, программистов интерфейса и программистов графики. Но исключительно хороший разработчик в геймдеве, должен уметь делать все вышеперечисленное!
  .about-desc Ребята изучат программирование на языке С#, основные принципы работы с Unity 3D, а научатся применять навыки программирования в среде создания игр - Unity 3D, чтобы получилась игра. После этого они освоят решения типовых задач из игровой индустрии, например: создание инвентаря, оптимизация игры, воплощение системы квестов и многое другое. По окончанию курса ребята смогут создавать свои собственные игры и будут готовы к работе в игровых компаниях на начальных позициях.

  a.ui-btn.-primary.-programm(href="/programs/gamecoding.jpg" target="_blank") Скачать программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 6 500 рублей

block details
  .about-desc Умение пользоваться компьютером, базовое знание основ программирования на любом языке будет преимуществом
  .about-title 
    | Возраст: 
    span 14-16 лет
  .about-title 
    | Старт курса:
    span сентябрь 2018
  .about-title 
    | Длительность: 
    span 14 месяцев (2 года)
  .about-title 
    | Расписание:      
    span.date вт
    span.date пт
    span 19:00 - 20:45