doctype html
html
  head
    title Digital Banana - компьютерные курсы для школьников | курсы по программированию
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="A8xv1M353T6Z4wN29JtemIWpEzuqTafga1F87qYW1cw")
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel="shortcut icon" href="assets/img/favicon.png")

    meta(property="og:title" content="Digital Banana - курсы программирования для школьников")
    meta(property="og:description" content="Курсы, мероприятия, общение с профессионалами рынка. Мы делаем все возможное, чтобы дать каждому ученику первый опыт в профессии и помочь сделать осознанный выбор в будущем.")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content= "http://digital-banana.ru/")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

    include partials/head-scripts.jade
  body
    include partials/header.jade
    #vk_community_messages
    script(type="text/javascript").
        VK.Widgets.CommunityMessages("vk_community_messages", 54916180, {expandTimeout: "50000",disableExpandChatSound: "1",tooltipButtonText: "Ответим на любые вопросы"});
    .hero.hero-first
      .container
        .main-logo
        a.bananatag(target="_blank" href="https://www.instagram.com/digital_banana/").ga_bananatag #DIGITALBANANA
        include ./partials/socials.jade
        .content
          .content-header.banana-keeper
            h1
              | Digital
              br
              | Banana
          .content-left
          .content-right
            h3.hero-main_about
              | Очные курсы и мероприятия&nbsp;
              br
              | в Санкт-Петербурге по:&nbsp;
              a.hero-main_about_link_it(href="#courses") IT
              |  и 
              a.hero-main_about_link_gamedev(href="#gamedev") Gamedev
              br
              | для школьников 11-17 лет.
              br
              | Тут находят друзей, создают команды
              br
              | и запускают первые IT-проекты

            a.main-btn(target="_blank" href="/test") Профориентационный тест
            div
              a.main-btn(href="http://leto.digital-banana.ru" target="_blank") Летняя программа
              //a.main-btn.mr-2(target="_blank" href="https://docs.google.com/spreadsheets/d/1Kz1dRIFiIWgmvrp9NyT5lwZl5E8tSwXwSVtbX2g5cSM/edit?usp=sharing") Расписание
              //a.main-btn(href="https://bananaschool.timepad.ru/events/" target="_blank") Открытые уроки



          a(href="#courses").bottom-link Узнайте больше
    include partials/courses.jade
    include partials/about.jade

    include partials/projects.jade
    include partials/partners.jade
    include partials/contacts.jade

    include partials/body-scripts.jade  