doctype html
html
  head
    title Digital Banana - компьютерные курсы для школьников | курсы по программированию
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="A8xv1M353T6Z4wN29JtemIWpEzuqTafga1F87qYW1cw")
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel="shortcut icon" href="assets/img/favicon.png")

    meta(property="og:title" content="Digital Banana - курсы программирования для школьников")
    meta(property="og:description" content="Курсы, мероприятия, общение с профессионалами рынка. Мы делаем все возможное, чтобы дать каждому ученику первый опыт в профессии и помочь сделать осознанный выбор в будущем.")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content= "http://digital-banana.ru/")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

    include partials/head-scripts.jade
  body
    include partials/header.jade
    #vk_community_messages
    script(type="text/javascript").
        VK.Widgets.CommunityMessages("vk_community_messages", 54916180, {expandTimeout: "50000",disableExpandChatSound: "1",tooltipButtonText: "Ответим на любые вопросы"});
    .hero.hero-first
      .container
        .main-logo
        a.bananatag(target="_blank" href="https://www.instagram.com/digital_banana/").ga_bananatag #DIGITALBANANA
        include ./partials/socials.jade
        .feedBackWrapperFree.form-person.is-closed.container
          .form-exit-free
          .content
            .wrapper-right.wrapper-right_form
              h2
                | Бесплатный
                br
                | урок
              
            .wrapper-right.wrapper-right_form
              h4.form-title Ваш телефон
              input.isrequired.input(type="text" placeholder="phone")
              h4.form-title Ваша почта
              input.isrequired.input(type="text" placeholder="mail")
              h4.form-title Ваше имя
              input.isrequired.input(type="text" placeholder="parentName")
              .terms
                .desc Я соглашаюсь на обработку моих персональных данных
                  .checkbox
                input.isrequired.hidden.check(type="checkbox")
                br
                a(href="/license.pdf" target="_blank") Политика конфеденциальности Digital Banana
              .ajaxgofree Отправить форму

        .feedBackWrapper.form-person.is-closed.container
          .form-exit
          .content
            .wrapper-left.wrapper-left_form
            .wrapper-right.wrapper-right_form
              h2
                | Заявка
                br
                | на курс
            .wrapper-left.wrapper-left_form
              h4.form-title Телефон для связи
              input.isrequired.input(type="text" placeholder="phone")
              h4.form-title Контактная почта
              input.isrequired.input(type="text" placeholder="mail")
              h4.form-title Промокод
              input.isrequired.input(type="text" placeholder="promo")
              h4.form-title Возраст ребенка
              input.isrequired.hidden.age-input.isrequired(type="text" placeholder="age")
              ul.age-picker
                li 11
                li 12
                li 13
                li 14
                li 15
                li 16
                li 17

            .wrapper-right.wrapper-right_form
              h4.form-title Выберите курс
              .dropdown.is-closed
                input.isrequired.dropdown-input.hidden(type="text" placeholder="курс вашей мечты")
                .dropdown-toggle
                ul.dropdown-menu.is-hidden
                  li Разработка сайтов
                  li Серверная разработка
                  li Мобильная разработка
                  li Машинное обучение
                  li Дизайн
                  li Игровая разработка 14-17
                  li Дизайн игровых уровней
                  li Концепт-арт
                  li Основы ООП
                  li Олимпиадное программирование
                  li Олимпиадная математика
                  li Игровая разработка 11-13

              h4.form-title Фио ребенка
              input.isrequired.input.input__parent(type="text" placeholder="kidName")
              h4.form-title Фио родителя
              input.isrequired.input(type="text" placeholder="parentName")
              .terms
                .desc Я соглашаюсь на обработку моих персональных данных
                  .checkbox
                input.isrequired.hidden.check(type="checkbox")
                br
                a(href="/license.pdf" target="_blank") Политика конфеденциальности Digital Banana
              .ajaxgo Отправить форму

        .successmsg
          .successmsg-title Ваша заявка принята!
          .successmsg-desc В ближайшее время мы свяжемся с вами!
          img(src="./assets/img/roll.png")

        .content
          .content-header.banana-keeper
            h1
              | Digital
              br
              | Banana
          .content-left
          .content-right
            h3.hero-main_about
              | Очные курсы и мероприятия&nbsp;
              br
              | в Санкт-Петербурге по:&nbsp;
              a.hero-main_about_link_it(href="#courses") IT
              |  и 
              a.hero-main_about_link_gamedev(href="#gamedev") Gamedev
              br
              | для школьников 11-17 лет.
              br
              | Тут находят друзей, создают команды
              br
              | и запускают первые IT-проекты

            a.main-btn(target="_blank" href="/test") Профориентационный тест
            div
              a.main-btn.mr-2(target="_blank" href="https://docs.google.com/spreadsheets/d/1Kz1dRIFiIWgmvrp9NyT5lwZl5E8tSwXwSVtbX2g5cSM/edit?usp=sharing") Расписание
              a.main-btn(href="https://bananaschool.timepad.ru/events/" target="_blank") Открытые уроки



          a(href="#courses").bottom-link Узнайте больше
    include partials/courses.jade
    include partials/about.jade
    //include partials/testimonials.jade

    include partials/projects.jade
    include partials/partners.jade
    include partials/contacts.jade

    include partials/body-scripts.jade  