extends ./templates/course-layout.jade

block title
  title Курс Level design в школе Digital Banana 14-16 лет

block meta-content
  meta(property="og:title" content="Курс Level design Digital Banana для школьников 14-16 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/gamecoding")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Level design" placeholder="Курс")
  .course-name_placeholder Level design

block form-age
  ul.age-picker
    li 13*
    li 14
    li 15
    li 16

block teacher
  .teacher-photo
    img(src="assets/img/teacher-level.jpg")
  .about-title Кирилл Медведев
  .about-desc Инди-разработчик, более 7 лет профессионально занимается 3D моделированием. Участник независимых игровых проектов в качестве дизайнера уровней и ведущего 3D моделера.

block course
  h1 Level design
  h2 Unity / Blender / 3D Studio Max
  
  .about-desc Один из важнейших аспектов увлекательной игры — грамотный дизайн уровней. За это в процессе разработки отвечает отдельный специалист — левел-дизайнер. В его обязанности входит полная проектировка игровой локации — от посадки на карте первого дерева до выставления финального света. Главная задача для левел-дизайнера - найти идеальный для игрока баланс между сложностью и увлекательностью.
  .about-desc На курсе Digital Banana по дизайну уровней студенты получат знания основ игровой драматургии. В процессе обучения они освоят программу Unity 3D, в которой будут создавать свои проекты. Также научатся создавать необходимые объемные элементы окружения и персонажей в программах 3Ds Max и Blender. После окончания курса ребята смогут создавать свои проекты или смогут найти себе место на рынке игровой разработки.

  a.ui-btn.-primary.-programm(href="/programs/level-design.jpg" target="_blank") Посмотреть программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 6 500 рублей

block details
  .about-desc Умение пользоваться компьютером, любовь к компьютерным играм будет преимуществом
  .about-title 
    | Возраст: 
    span 14-16 лет
  .about-title 
    | Старт курса: 
    span сентябрь 2018
  .about-title 
    | Длительность: 
    span 14 месяцев (2 года)
  .about-title 
    | Расписание:      
    span.date вт
    span.date пт
    span 17:00 - 18:45 / 19:00 - 20:45