extends ./templates/course-layout.jade

block title
  title Кружок компьютерной математики в школе Digital Banana 10-11 лет

block meta-content
  meta(property="og:title" content="Кружок компьютерной математики в школе Digital Banana 11-13 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/math")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Компьютерная математика" placeholder="Курс")
  .course-name_placeholder Компьютерная математика

block form-age
  ul.age-picker
    li 11
    li 12
    li 13

block teacher
  .teacher-photo
    img(src="assets/img/teacher-math.jpg")
  .about-title Глеб Свечников
  .about-desc 
    | Программист, основатель мастерской 3D печати, энтузиаст в области электронных методов обучения (e-learning). В 2014 на основе методологии computer-based math создал образовательную программу «Компьютерное Обучение Математике», которую успешно протестировал на базе кружка в ФМЛ 239 в 2014-2015 годах. 
    a(href="http://cbm.svechnikov.me/" target="_blank") Сайт с программой Глеба.

block course
  h1 Кружок компьютерной математики
  h2 OpenSCAD / Python / Nodebox / Geogebra 
  
  .about-desc Кружок раскроет интересные факты о математике и ее применении в жизни. Ученики увидят связь математики с робототехникой, 3D печатью, механической обработкой деталей. Также будет показана связь математики и программирования с различными аспектами жизни — в том числе с творческими направлениями, такими как дизайн и архитектура. 
  .about-desc Студенты курса будут рисовать двухмерные фигуры алгоритмами черепашьей графики. Создавать сложные композиционные объекты и анимировать их — делать объекты цифрового искусства. Визуализировать данные и создавать простые инфографики. Моделировать сложные трехмерные объекты, готовые к печати на 3D принтере. В конце программы каждый ученик выполнит индивидуальный проект.
  .about-desc Интерес к математике - основа успеха в технических науках.

  a.ui-btn.-primary.-programm(href="/programs/Math.jpg" target="_blank") Посмотреть программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 6 000 рублей

block details
  .about-desc Умение пользоваться компьютером
  .about-title 
    | Возраст:&nbsp;
    span 11-13 лет
  .about-title 
    | Старт курса:&nbsp;
    span сентябрь 2018
  .about-title 
    | Длительность:&nbsp;
    span 6 месяцев
  .about-title 
    | Расписание:      
    span.date вс
    span 12:00 - 15:00