extends ./templates/course-layout.jade

block title
    title Олимпиадная математика

block meta-content
    meta(property="og:title" content="Олимпиадная математика")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/2dgames")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="olympiad_math" placeholder="Курс")
    .course-name_placeholder Олимпиадная математика

block form-age
    ul.age-picker
        li 13*
        li 14
        li 15

block teacher
    .teacher-photo
        img(src="assets/img/teachers/teacher-math.jpg")
    .about-title Евгения Русскова
    .about-desc Студентка 2 курса факультета прикладной математики и процессов управления СПБГУ. Участник многочисленных олимпиад школьников по математике, призер областного этапа Всероссийской олимпиады школьников по математике

block course
    h1 Олимпиадная математика
    h2 Математика / Олимпиады

    .about-desc Курс поможет тем, кто хочет успешно участвовать в олимпиадах по математике и программированию, поступить в ВУЗ мечты и кому просто хочется подумать над интересными задачами.
    .about-desc Данный курс направлен на подготовку школьников к олимпиадам по математике, развитие логического мышления, интеллектуальной активности и интереса учащихся к математике в целом. В рамках курса вы познакомитесь с основными типами олимпиадных задач и методами их решения. Путем рассмотрения множества задач с реальных олимпиад разного уровня и освоения дополнительного теоретического материала, учащиеся обретут навыки, необходимые для успешного участия в олимпиадах.
    //a.ui-btn.-primary.-programm(href="/programs/oop_program.jpg" target="_blank") Посмотреть программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 000 рублей

block details
    .about-desc Базовые знания математики
    .about-title
        | Возраст:
        span 14-15 лет
    .about-title
        | Старт курса:
        span октябрь 2018
    .about-title
        | Длительность:
        span 1 год