extends ./templates/course-layout.jade

block title
    title Олимпиадная математика

block meta-content
    meta(property="og:title" content="Олимпиадная математика")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/2dgames")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="olympiad_math" placeholder="Курс")
    .course-name_placeholder Олимпиадная математика

block form-age
    ul.age-picker
        li 13*
        li 14
        li 15

block teacher
    .teacher-photo
        img(src="assets/img/default_avatar.jpeg")
    //.about-title Информация появится позже
    //.about-desc Full-stack разработчик (в настоящее время разарботка своей web-платформы), выпускница мат-меха СПбГУ, студентка Computer Science Center, в прошлом Front-End разработчик.

block course
    h1 Олимпиадная математика
    h2 Математика / Олимпиады

    .about-desc Подробная информация появится в скором времени
    //a.ui-btn.-primary.-programm(href="/programs/oop_program.jpg" target="_blank") Скачать программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 000 рублей

block details
    .about-desc Базовые знания математики
    .about-title
        | Возраст:
        span 14-15 лет
    .about-title
        | Старт курса:
        span сентябрь 2018
    .about-title
        | Длительность:
        span 1 год