extends ./templates/course-layout.jade

block title
    title Олимпиадное программирование

block meta-content
    meta(property="og:title" content="Олимпиадное программирование")
    meta(property="og:image" content="assets/img/share_img.png")
    meta(property="og:url" content= "http://digital-banana.ru/2dgames")
    meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
    h4.form-title Курс
    input.hidden(value="olympiad_programming" placeholder="Курс")
    .course-name_placeholder Олимпиадное программирование

block form-age
    ul.age-picker
        li 13*
        li 14
        li 15

block teacher
    .teacher-photo
        img(src="assets/img/teachers/teacher-oop-new.jpg")
    .about-title Александр Марков
    .about-desc Cтудент мат-меха СПбГУ, действующий участник студенческих соревнований и сборов по программированию, преподаватель кружка Андрея Лопатина в СПбГУ

block course
    h1 Олимпиадное программирование
    h2 C++ / Программирование / Алгоритмы и структуры данных

    .about-desc Изучение алгоритмов — основа подготовки специалиста Computer Science. По результатам олимпиад по информатике, состоящих из алгоритмических задач, берут на сильнейшие IT-факультеты; собеседования в технологические компании также состоят из решения алгоритмических задач.
    .about-desc В рамках подготовки ученики познакомятся с языком программирования с++ и наиболее употребимыми алгоритмами и структурами данных (дерево отрезков, алгоритмы на строках и графах, динамическое программирование и др.). Большой упор будет сделан на практическую часть, направленную на развитие навыка решения задач (поиск решения и применение теоретических знаний на практике) и подготовку к олимпиадам.
    a.ui-btn.-primary.-programm(href="/programs/olympiad_programming_program.png" target="_blank") Посмотреть программу

block price
    .about-desc.-less-margin Стоимость в месяц
    .about-title 6 000 рублей

block details
    .about-desc Умение пользоваться компьютером
    .about-title
        | Возраст:&nbsp;
        span 13-15 лет
    .about-title
        | Старт курса:&nbsp;
        span сентябрь 2018
    .about-title
        | Длительность:&nbsp;
        span 2 года