doctype html
html
    head
        title Digital Banana и день кода
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="google-site-verification" content="A8xv1M353T6Z4wN29JtemIWpEzuqTafga1F87qYW1cw")
        link(rel="stylesheet" href="assets/css/main.css")
        link(rel="shortcut icon" href="assets/img/favicon.png")

        meta(property="og:title" content="Digital Banana 360 на pitercss_conf")
        meta(property="og:description" content="Курсы, мероприятия, общение с профессионалами рынка. Мы делаем все возможное, чтобы дать каждому ученику первый опыт в профессии и помочь сделать осознанный выбор в будущем.")
        meta(property="og:image" content="assets/img/share_img.png")
        meta(property="og:type" content="website")
        meta(property="og:url" content= "http://digital-banana.ru/err404")
        meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")
        include partials/head-scripts.jade

        body
            section.section-error
                .container
                    .content
                        .content-header
                            h2 Это же ссылка на видео!
                        .content-left.err404
                            img(src="assets/img/roll.png")
                        .content-right
                            .about-title.err-title Переходите и найдите себя по имени или номеру билета!
                            a.ui-btn.-primary(target="_blank" href="https://drive.google.com/open?id=1BNIXBx5Xc4drAJ-uKg2-zLm7JKEML3R1") Хранилище

            include partials/body-scripts.jade