extends ./templates/course-layout.jade

block title
  title Кружок основ программирования в школе Digital Banana 9-11 лет

block meta-content
  meta(property="og:title" content="Кружок основ программирования в школе Digital Banana 9-11 лет")
  meta(property="og:image" content="assets/img/share_img.png")
  meta(property="og:url" content= "http://digital-banana.ru/scratch")
  meta(name="yandex-verification" content="e0a4b2c7ceaacc9f")

block form-dropdown
  h4.form-title Курс
  input.hidden(value="Scratch" placeholder="Курс")
  .course-name_placeholder Основы программирования

block form-age
  ul.age-picker
    li 9
    li 10
    li 11

block teacher
  .teacher-photo
    img(src="assets/img/teacher-scratch.jpg")
  .about-title Роман Рагозин
  .about-desc Студент Мат-меха СПбГУ, летом 2016 победитель турнира ITYM — международный турнир юных математиков.

block course
  h1 Основы программирования
  h2 Scratch
  
  .about-desc В процессе обучения ребята изучат практически все аспекты программирования: на основе реальных задач познакомятся с процедурным программированием, переменными, циклами, логическими операторами. К концу курса каждый учащийся подготовит собственный проект, пользуясь полученными знаниями и навыками.
  .about-desc Так же в курс включены элементы математики. Ученикм познакомятся как с простыми понятиями, вроде возведения в степень, так и с более сложными, например, фракталами.

  a.ui-btn.-primary.-programm(href="/programs/scratch.jpg" target="_blank") Посмотреть программу

block price
  .about-desc.-less-margin Стоимость в месяц
  .about-title 6 000 рублей

block details
  .about-desc Умение пользоваться компьютером
  .about-title 
    | Возраст:&nbsp;
    span 9-11 лет
  .about-title 
    | Старт курса:&nbsp;
    span сентябрь 2018
  .about-title 
    | Длительность:&nbsp;
    span 3 месяца
  .about-title 
    | Расписание:      
    span.date вс
    span 11:00 - 14:00