.content-about-course
    .course-left.course-teacher-top
        .about-photos
            .about-photo
                img(src="https://sun9-2.userapi.com/c840429/v840429430/6bd08/JlGvKSpRe2c.jpg")
            .about-photo
                img(src="https://pp.userapi.com/c837235/v837235576/32607/XiY9Z41AQNE.jpg")
            .about-photo
                img(src="https://pp.userapi.com/c638724/v638724748/59766/Uw0XQieHfHY.jpg")
            .about-photo
                img(src="https://pp.userapi.com/c638724/v638724748/5973e/fr51A4bA4wc.jpg")
            .about-photo
                img(src="https://pp.userapi.com/c638723/v638723060/55218/a4wIR32yik0.jpg")

        .about-photos-nav
            .about-photo-nav
                img(src="https://sun9-2.userapi.com/c840429/v840429430/6bd08/JlGvKSpRe2c.jpg")
            .about-photo-nav
                img(src="https://pp.userapi.com/c837235/v837235576/32607/XiY9Z41AQNE.jpg")
            .about-photo-nav
                img(src="https://pp.userapi.com/c638724/v638724748/59766/Uw0XQieHfHY.jpg")
            .about-photo-nav
                img(src="https://pp.userapi.com/c638724/v638724748/5973e/fr51A4bA4wc.jpg")
            .about-photo-nav
                img(src="https://pp.userapi.com/c638723/v638723060/55218/a4wIR32yik0.jpg")


    .course-right
        .about-title Факты о Летней IT-программе
        div.list-facts
            div.list-facts-el
                i.fa.fa-clock-o(aria-hidden="true")
                p.inline Более 15 часов практических занятий
            div.list-facts-el
                i.fa.fa-users(aria-hidden="true")
                p.inline Ребята занимаются в небольших группах по 8 человек, что позволяет успевать преподавателям в достаточной мере общаться с каждым ребенком

            div.list-facts-el
                i.fa.fa-map-marker(aria-hidden="true")
                p.inline Участников встречают и провожают до метро
            div.list-facts-el
                i.fa.fa-cutlery(aria-hidden="true")
                p.inline В учебном классе всегда есть вода, соки, сушки и фрукты
            div.list-facts-el
                i.fa.fa-desktop(aria-hidden="true")
                p.inline Классы оснащены современным оборудованием
            div.list-facts-el
                i.fa.fa-arrow-up(aria-hidden="true")
                p.inline Мы следим за индивидуальными достижениями каждого ребенка и помогаем с выбором будущей профессиих
            div.list-facts-el
                i.fa.fa-thumbs-up(aria-hidden="true")
                p.inline Уже более 100 ребят 12-16 лет прошли наши программу. Более 70% из них продолжили обучение в IT-сфере

        //ToDo: ПУТИ
        a.ui-btn.-primary.-programm.small(href="leto.pdf" target="_blank") Скачать программу


.content-info-course

    .course-right
        .about-title.-less-margin Уровень подготовки:
            .about-desc Умение пользоваться компьютером
            .about-title
                | Возраст:
                span 12-15 лет
            .about-title
                | Старт курса:
                span июнь / август 2018
            .about-title
                | Длительность:
                span 3 недели


    .course-left.course-price-bottom
        .about-desc.-less-margin Стоимость 2018
        .about-title 18900 рублей до 15 апреля.





