section.section-about#about
  .container
    .content
      .wrapper-left         
      .wrapper-right
        h2 О проекте
      .wrapper-left.about-slider-container
        .about-desc 3 года назад возник вопрос: "Где ребята школьного возраста могут получить навыки по актуальным IT направлениям?". Чтобы это было нескучно, дружелюбно и полезно. В 2014 году найти похожие проекты не удалось, и появилась команда Digital Banana — ребята энтузиасты, которые хотели делиться знаниями и создать особенную атмосферу, в которой когда-то хотели бы оказаться сами.
        .about-title Кто делает Digital Banana?
        .about-desc Digital Banana проходят большой и непростой путь. Но когда что-то делаешь с любовью и отдачей - это всегда заметно. Выпускники разных лет совершают первые успехи на ИТ-рынке: получают первую работу, создают команды, выигрывают хакатоны и соревнования. А главное, продолжают и любят возвращаться в проект.
        .about-title Чему ребята могут научиться в Digital Banana
        .about-desc Долгосрочные программы 7-14 месяцев (1-2 учебных года): с сентября 2017 года в Digital Banana запускаются 2 факультета: IT и GameDev, на которых будут учиться ребята от 14 до 17 лет (13 лет - по собеседованию). Кружковые занятия 3-4 месяца: занятия для ребят от 10 до 13 лет, развивающие математику, логику и творчество. Открытые лекции и уроки: бесплатные серии лекций и занятий, которые носят ознакомительный и проф. ориентационный характер.
        .about-photos
          .about-photo
            img(src="https://pp.userapi.com/c824700/v824700868/15c43b/Mtvy7YR3Q8Y.jpg")
          .about-photo
            img(src="https://pp.userapi.com/c834302/v834302854/2bea1/x5o0s2MWJPM.jpg")
          //.about-photo
          //  img(src="https://pp.userapi.com/c824700/v824700868/15c026/JBzzSa8cBJs.jpg")
          .about-photo
            img(src="https://pp.userapi.com/c638620/v638620295/36dd8/a3ES6qjyC3E.jpg")

        .about-photos-nav
          .about-photo-nav
            img(src="https://pp.userapi.com/c824700/v824700868/15c43b/Mtvy7YR3Q8Y.jpg")
          .about-photo-nav
            img(src="https://pp.userapi.com/c834302/v834302854/2bea1/x5o0s2MWJPM.jpg")
          //.about-photo-nav
          //  img(src="https://pp.userapi.com/c824700/v824700868/15c026/JBzzSa8cBJs.jpg")
          .about-photo-nav
            img(src="https://pp.userapi.com/c638620/v638620295/36dd8/a3ES6qjyC3E.jpg")

      .wrapper-right
        .about-desc 3 года назад возник вопрос: "Где ребята школьного возраста могут получить навыки по актуальным IT направлениям?". Чтобы это было нескучно, дружелюбно и полезно. Так, в 2014 появилась команда Digital Banana.
        .about-desc Digital Banana — это курсы по ИТ, игровой разработке и подготовке к олимпиадам для школьников от 12 до 17 лет. На выбор есть 12 программ: от классического программирования до цифрового творчества. Длительность программ 1 или 2 учебных года, в зависимости от направления.
        //.about-title Кто делает Digital Banana?
        .about-desc Занятия проходят в оборудованных классах — вам не нужно давать компьютер ребенку с собой. Группы до 8 человек. По итогам занятий выпускник Digital Banana получает портфолио и навыки, которые позволят ему осознанно подойти к выбору вуза, после 18 лет иметь первую работу в ИТ-компании или зарабатывать фрилансом, делая технические проекты.
        //.about-title Чему ребята могут научиться в Digital Banana
        //.about-desc Долгосрочные программы 7-14 месяцев (1-2 учебных года): с сентября 2017 года в Digital Banana запускаются 2 факультета: IT и GameDev, на которых будут учиться ребята от 14 до 17 лет (13 лет - по собеседованию). Кружковые занятия 3-4 месяца: занятия для ребят от 10 до 13 лет, развивающие математику, логику и творчество. Открытые лекции и уроки: бесплатные серии лекций и занятий, которые носят ознакомительный и проф. ориентационный характер.

        a.ui-btn.-primary.-programm(target="_blank" href="/programs/digital-banana-17-18.pdf") Скачать подробную презентацию