script(src="https://mc.yandex.ru/metrika/watch.js")
script(src="../assets/js/main.js")

//script(type='text/javascript' src='https://feedback.kupiapp.ru/widget/widget.js')
//script(type='text/javascript').
//    document.addEventListener("DOMContentLoaded", feedback_vk.init({id:'feedback_vk', gid:54916180}));