section.section-courses#courses
  .container
    .content
      .content-header
        h2 Курсы
    .content.mb-30
      .content-left
        ul.filter-list
          li.is-active.ga_filter_code
            .filter-list-pic.code
            .filter-list-info
              .filter-list-info-title Факультет IT
              .filter-list-info-age 14-16 лет
      .content-right
        ul.course-list.course-list1.is-active
          li
            a.course(target="_blank" href="/data-science").ga_web
              .course-animation
              .course-info
                .course-info-title Машинное обучение
                .course-info-desc Исследование данных, искусственный интеллект, математика
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-data-5.jpg")
          li
            a.course(target="_blank" href="/web").ga_web
              .course-animation
              .course-info
                .course-info-title Разработка сайтов
                .course-info-desc Создание сайтов от основ до работы с популярными фреймворками
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-front-1.jpg")
          li
            a.course(target="_blank" href="/android").ga_web
              .course-animation
              .course-info
                .course-info-title Мобильная разработка
                .course-info-desc Разработка мобильных приложений от прототипа до Google Play
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-mobile-1.jpg")
          li
            a.course(target="_blank" href="/back").ga_web
              .course-animation
              .course-info
                .course-info-title Back-end
                .course-info-desc Разработка серверной части web-приложений
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-back.jpg")
          li#gamedev
            a.course(target="_blank" href="/design").ga_web
              .course-animation
              .course-info
                .course-info-title Дизайн
                .course-info-desc Обучение основам дизайна и концепта
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-design.jpg")

       //     GAMES !!!!

    .content.mb-30
      .content-left
        ul.filter-list
          li.ga_filter_games
            .filter-list-pic.games
            .filter-list-info
              .filter-list-info-title Факультет GameDev
              .filter-list-info-age 14-16 лет
      .content-right
        ul.course-list.course-list2.is-active
          li
            a.course(target="_blank" href="/gamecoding").ga_web
              .course-animation
              .course-info
                .course-info-title Игровая разработка
                .course-info-desc Программирование компьютерных игр на языке C#
                .course-info-time
                  .course-info-time-content
                  span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-gamecode-1.jpg")

          li
            a.course(target="_blank" href="/concept-art").ga_web
              .course-animation
              .course-info
                .course-info-title Концепт-арт
                .course-info-desc Цифровая живопись, создание игровых концептов
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018
                  //  span  по набору группы
                  //.course-info-time-content
                  //  span  2 учебных года

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-art.jpg")
          li
            a.course(target="_blank" href="/level-design").ga_web
              .course-animation
              .course-info
                .course-info-title Дизайн игровых уровней
                .course-info-desc Создание игровых уровней и 3D моделирование
                .course-info-time
                  .course-info-time-content
                    span  Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-level.jpg")

    //     KIDS !!!!

    .content.mb-30
      .content-left
        ul.filter-list
          li.ga_filter_kids
            .filter-list-pic.kids
            .filter-list-info
              .filter-list-info-title Кружковые занятия
              .filter-list-info-age 10-13 лет
      .content-right
        ul.course-list.course-list3.is-active

          li
            a.course(target="_blank" href="/game-development").ga_web
              .course-animation
              .course-info
                .course-info-title Игровая разработка
                .course-info-desc Игровая разработка в Construct 2, Unity 3D и Blender
                .course-info-time
                  .course-info-time-content
                    span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-game-basics-1.jpg")
          li
            a.course(target="_blank" href="/oop").ga_web
              .course-animation
              .course-info.-high-block
                .course-info-title Основы ООП
                .course-info-desc Изучение основ программирования, принципов ООП и алгоритмов на языке С#
                .course-info-time
                  .course-info-time-content
                    span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-oop.jpg")

          li
            a.course(target="_blank" href="/english").ga_web
              .course-animation
              .course-info
                .course-info-title Английский язык для ИТ
                .course-info-desc От первых технических слов до защиты своего проекта
                .course-info-time
                  .course-info-time-content
                    span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-english.jpg")


    //     OLYMPIAD !!!!

    .content.mb-30
      .content-left
        ul.filter-list
          li.ga_filter_olymp
            .filter-list-pic.olymp
            .filter-list-info.-single-title
              .filter-list-info-title Подготовка к олимпиадам
      .content-right
        ul.course-list.course-list4.is-active
          li
            a.course(target="_blank" href="/olympiad_programming").ga_web
              .course-animation
              .course-info
                .course-info-title Олимпиадное программирование
                .course-info-desc Олимиадное программирование на языке C++
                .course-info-time
                  .course-info-time-content
                    span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-olymp-2.jpg")

          li
            a.course(target="_blank" href="/olympiad_math").ga_web
              .course-animation
              .course-info
                .course-info-title Олимпиадная математика
                .course-info-desc Подготовка к решению олимпиадных задач по математике
                .course-info-time
                  .course-info-time-content
                    span Старт в октябре 2018

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teachers/teacher-math.jpg")


    //    SUMMER!!!!!!!

    .content.mb-30
      .content-left
        ul.filter-list
          li.ga_filter_random.-is-active
            .filter-list-pic.random
            .filter-list-info.-single-title
              .filter-list-info-title Лето
        
      .content-right
        ul.course-list.course-list5.is-active
          li
            a.course(target="_blank" href="/leto").ga_web
              .course-animation
              .course-info
                .course-info-title Летняя ИТ-программа
                .course-info-desc Общая обзорная по миру ИТ
                .course-info-time
                  .course-info-time-content
                    | Старт
                    span  июнь 2019
                  .course-info-time-content
                    span  3 недели

                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/preview-leto-main.jpg")


    .ui-btn.form-btn__person.js-formBtn.ga_sign_mobile(style="margin-bottom: 30px") Подать заявку

    .content
      .content-left
      .content-right
        h4.hero-main_about.mb-0.-selected-yellow Не можете выбрать курс?
        br
        a.main-btn.-no-top(href='/test') Пройти тест