header.header
  .container
    .header-links
      a.only-link.ga_courses(href="/") На главную страницу сайта
    .header-contacts
      a.ga_phone_header(href="tel:89650184751") 8 (965) 018-47-51
    .header-nav
      .header-nav_toggler
        i
        i
        i
      ul.header-nav_menu
        li.only-link
          a.ga_courses(href="/") На главную страницу сайта