header.header
  .container
    .header-links
      a.ga_courses(href="#courses") Выбрать Курс
      a.ga_about(href="#about") О проекте
      //- a.ga_projects(href="#projects") Проекты
      //a.ga_partners(href="/online") Онлайн-школа
      a.ga_partners(href="#partners") Партнёры
      a.ga_contacts(href="#contacts") Контакты
      a.ga_photos(href="https://vk.com/digital_banana?w=wall-54916180_1659&z=album-54916180_254454647" target="_blank") Фото
    .header-contacts
      a.header-lang.-active
        img(src="./assets/img/flag-ru.png")
      a.header-lang(href='/en')
        img(src="./assets/img/flag-en.png")
      a.ga_phone_header(href="tel:89650184751") 8 (965) 018-47-51
    .header-nav
      .header-nav_toggler
        i
        i
        i
      ul.header-nav_menu
        li
          a.ga_courses(href="#courses") Выбрать Курс
        li
          a.ga_about(href="#about") О проекте
        li
          a.ga_partners(href="#partners") Партнёры
        li
          a.ga_contacts(href="#contacts") Контакты
        li
          a.ga_photos(href="https://vk.com/album-54916180_213845628" target="_blank") Фото
