section.section-map#map
  .container
    .content
      .content-header
        h2 Направления
      .course-map
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_web.png)")
          .course-map__name Web
          .course-map__btn Подробнее
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_mobile.png); background-size: 30%;")
          .course-map__name Mobile
          .course-map__btn Подробнее
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_data.png)")
          .course-map__name Data Science
          .course-map__btn Подробнее
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_game.png)")
          .course-map__name Разработка игр
          .course-map__btn Подробнее
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_web.png)")
          .course-map__name Web
          .course-map__btn Подробнее
        .course-map__item.js-mapBtn
          .course-map__icon(style="background-image: url(assets/img/map_icon_web.png)")
          .course-map__name Web
          .course-map__btn Подробнее
      .content-header
        h3.hero-main_about.mb-0 Или узнайте, что подходит именно вам
        a.main-btn(href='/test') Пройти тест

.sidebar
  .sidebar__exit.js-killSidebar
  .sidebar__icon
  h2.sidebar__title
  p.sidebar__text
  a.main-btn.sidebar__btn Посмотреть курс