-
  var partnerList = [
    {
      img: "https://research.jetbrains.org/static/img/logo/jetbrains.svg",
      url: "https://research.jetbrains.org/ru/"
    },
    {
      img: "/assets/img/partner/logo-vk.png",
      url: "https://vk.com/team"
    },
    {
      img: "/assets/img/partner/logo-dsx.png",
      url: "https://dsx.uk/"
    },
    {
      img: "/assets/img/partner/logo-tensor.png",
      url: "https://tensor.ru/"
    },
    {
      img: "/assets/img/partner/logo-wargaming.png",
      url: "https://ru.wargaming.net"
    },
    {
      img: "/assets/img/partner/logo-hh.png",
      url: "https://spb.hh.ru"
    },
    {
      img: "/assets/img/partner/logo-woomy.png",
      url: "http://hellowoomy.ru"
    },
    {
      img: "/assets/img/partner/logo-izhard.png",
      url: "https://vk.com/izhard"
    },
    {
      img: "/assets/img/partner/logo-zillion.png",
      url: "http://zillionwhales.com"
    },
    {
      img: "/assets/img/partner/logo-algotica.png",
      url: "http://store.steampowered.com/app/593330/Algotica__Iteration_1/"
    }
  ]

mixin partner(partner)
  - var firstClass = (partner.img == "https://research.jetbrains.org/static/img/logo/jetbrains.svg") ? "research": ""
  a.partner(href=partner.url class=firstClass target="_blank")
    img(src=partner.img)

section.section-partners#partners
  .container
    .content
      .content-header
        h2 Партнёры
      .partners
        for partner in partnerList
          +partner(partner)
    //.content
    //  #feedback_vk