.course-previews
  .course-previews_title Ближайшие активности
  a.course-preview.ga_summer(target="_blank" href="/gamecoding")
    .course-preview_title Набор в группу C#
  a.course-preview.ga_open(href="https://bananaschool.timepad.ru/event/596349/" target="_blank")
    .course-preview_title Интенси Concept-art
  a.course-preview.ga_open(href="https://bananaschool.timepad.ru/event/596317/" target="_blank")
    .course-preview_title Интенси 3D-modeling
  .form-btn.form-btn_person.js-formBtn подать заявку
  .form-btn.form-btn_person.js-formBtn оставить заявку