.socials
  a.social__vk(target="_blank" href="https://vk.com/digital_banana").ga_vk vk
  a.social__fb(target="_blank" href="https://www.facebook.com/digitalbananaschool/").ga_fb f
  a.social__inst(target="_blank" href="https://www.instagram.com/digital_banana/").ga_ins ins