section.section-courses#courses
  .container
    .content
      .content-header
        h2 Преподаватели
    .teacher-slider
      .content
        .content-left
          img.teacher-pic(src="./assets/img/teachers/teacher-web-1.jpg")
        .content-right
          .teacher-slide
            h3.about-title Антон Волков
            .teacher-subject Web-разработка
            .teacher-fuc IT факультет
            .about-desc Web-разработчик
            .about-desc Digital Banana — это курсы по ИТ, игровой разработке и подготовке к олимпиадам для школьников от 12 до 17 лет. На выбор есть 12 программ: от классического программирования до цифрового творчества. Длительность программ 1 или 2 учебных года, в зависимости от направления.
