section.section-testimonials#testimonials
  .container
    .content
      .content-header
        h2 Отзывы
      .testimonials.testimonals-slider
        .testimonial
          .testimonial-header
            .testimonial-title Светлана Капустина
            .testimonial-who Мама ученика
            .testimonial-who
              | Курс: 
              span Программирование игр
          .testimonial-content Сын в полном восторге. Такого отношения и внимания он еще нигде не встречал. До курсов совсем не умел программировать, а теперь руглярно показывает мне свои новые проекты и принимает участие в разных мерориятиях. В общем - развивается - я счастлива!
        .testimonial
          .testimonial-header
            .testimonial-title Светлана Капустина
            .testimonial-who Мама ученика
            .testimonial-who
              | Курс: 
              span Программирование игр
          .testimonial-content Сын в полном восторге. Такого отношения и внимания он еще нигде не встречал. До курсов совсем не умел программировать, а теперь руглярно показывает мне свои новые проекты и принимает участие в разных мерориятиях. В общем - развивается - я счастлива!
        .testimonial
          .testimonial-header
            .testimonial-title Светлана Капустина
            .testimonial-who Мама ученика
            .testimonial-who
              | Курс: 
              span Программирование игр
          .testimonial-content Сын в полном восторге. Такого отношения и внимания он еще нигде не встречал. До курсов совсем не умел программировать, а теперь руглярно показывает мне свои новые проекты и принимает участие в разных мерориятиях. В общем - развивается - я счастлива!

            

        